.header {display: flex;
        justify-content: space-between;
        align-items: center;}
.intro {display: flex;
margin: 20px;}
.intro p, .intro h1 {flex: 1;
    margin: 50px;}
        
        .intro img {margin: 50px;
            flex: 2; }

.pictags {display: flex;
        flex: 1;
    justify-content: space-evenly;}

@media only screen and (max-width: 800px) {
    .pictags{flex-direction: column;}}

footer {
    padding: 20px 0;
    text-align: center; 
    }

footer nav {
    display: flex;
    justify-content: space-evenly;
}

footer nav a {
    margin: 10px; 
}

.rowlist, .rowlist2 {display: flex;}

@media only screen and (max-width: 800px) {
    .rowlist, .rowlist2{flex-direction: column;}}
