.intro {display: flex;}
        .intro {flex: 60% 40%}
        .header {display: flex;
        justify-content: space-between;
        align-items: center;}

.pictags {display: flex;
        flex: 1;
    justify-content: space-evenly;}

@media only screen and (max-width: 800px) {
    .pictags{flex-direction: column;}}

footer {
    padding: 20px 0;
    text-align: center; 
    }

footer nav {
    display: flex;
    justify-content: space-evenly;
}

footer nav a {
    margin: 10px; 
}

.rowlist, .rowlist2 {display: flex;}

@media only screen and (max-width: 800px) {
    .rowlist, .rowlist2{flex-direction: column;}}
