body {font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #ededed;
font-size: 1em;}
h1, h2 {color: #1A837C}
p {color: #000;}
a {color: navy;}
nav {background-color: #003B3B;
padding: 10px;
margin-bottom: 30px}
nav a {color: #CCAE35}
nav a:hover {background-color: black;}
.qoute {float: right;}

.header {padding: 20px; background-color: #defaf7; border-radius: 1em;}
.address {display: flex; margin: 20px; column-gap: 30px;}


.form {display: flex; margin: 20px;}
.form div {flex: 1;}
.form {padding: 20px; background-color: #defaf7; border-radius: 1em;}

h1 {display: flex; justify-content: center; padding: 20px}
.skills {display: flex; padding: 20px}

aside {background-color: grey; border-radius: 30px; padding: 10px;}
aside p {color: white;}

.flexbox2 {display: flex; padding: 20px; align-items: center;}
.one {flex: 3; padding: 10px;}
.two {flex: 1; padding: 10px; margin: 10px}

.skills{justify-content: space-between}

aside h2 { margin: 20px;}
aside p {margin: 20px}

.para {text-align: left; width: 70%; margin: 10px; padding-left: 40px;}


.banner {max-width: 100%;}

.form{flex-wrap: wrap;}

nav a {display: block}
@media only screen and (max-width: 800px) {
    nav a {width: 100%;}
    nav a {margin: 10px;}}

@media only screen and (max-width: 800px) {
    span {display: none}}


@media only screen and (min-width: 801px) {
    nav a {display: inline-block;}}


 .skip {background-color: black;
        color:white;
        padding: 8px;
        text-decoration: none;
        border: 2px  solid greenyellow;
        position: absolute;
        top: 10px;
        left: -999px; /*pus off ledt side of browser*/
        }
        .skip:focus {
            left: 10px;
        }